
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Script Testing</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <h1 class="text-center">Hello I'm Noob Coder</h1>
        <br><br>
        <div class="container ">
            <form action = "/script" method = "post">  
                <table style="margin-left: 350px ;">  
                    <tr><td>Train Number</td>  
                    <td><input type ="text" name ="uname"></td></tr>   
                    <td><input type = "submit"></td> 
                </table>  
             </form>  
            </p>
        </div>
    </body>
</html>
